<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <swarming_subscribepro>
            <advanced>
                <offline_payment_methods>checkmo</offline_payment_methods>
            </advanced>
        </swarming_subscribepro>
    </default>
</config>
