<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="swarming" translate="label" sortOrder="500">
            <label>Swarming</label>
        </tab>

        <section id="swarming_subscribepro" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Subscribe Pro</label>
            <tab>swarming</tab>
            <resource>Swarming_SubscribePro::config</resource>

            <group id="advanced" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Advanced</label>

                <field id="offline_payment_methods" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allowed Offline Payment Methods</label>
                    <comment>A comma-separated list of payment methods aside from the Subscribe Pro CC payment method that will be available during subscription checkout.</comment>
                    <depends>
                        <field id="swarming_subscribepro/general/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
